@font-face {
    font-family: Cantarell;
    src: url(/font.woff2);
}

* {
    font-family: Cantarell;
}

body {
    background-color: white;
    --ok: rgb(130, 255, 80);
    --error: rgb(255, 80, 80);
    --degraded: rgb(255, 152, 68);
}

main {
    margin-left: auto;
    margin-right: auto;
    width: min(60em, 80%);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

h1 {
    color: black;
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 5em;
}

a {
    font-weight: bold;
}

h2 {
    margin: 0.5em;
    display: inline-block;
    color: black;
}

div.summary,
div.service,
div.log {
    padding: 1em;
    margin: 2em;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

div.summary.ok {
    background-color: var(--ok);
}
div.summary.error {
    background-color: var(--error);
}
div.summary.degraded {
    background-color: var(--degraded);
}

div.service.ok {
    border-top: 12px solid var(--ok);
}

div.service.error {
    border-top: 12px solid var(--error);
}

div.service a {
    color: black;
    float: inline-end;
}

div.checks {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 10% 50% 10%;
}

div.checks span {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

span.details.ok,
span.time,
footer,
footer a {
    color: rgb(173, 173, 173);
}

span.status {
    font-weight: bolder;
}

span.status.ok {
    color: rgb(39, 138, 0);
}

span.status.error {
    color: rgb(158, 0, 0);
}
